$icon-black-color: #231f20;

.header-container {
	padding-top: 0.5rem;
}

.header.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 1.5rem;
}

.search-bar {
	position: relative;
	width: 31.25rem;
	height: 2.5rem;
	border-radius: 23px;
	background-color: #fff;
}

.search-bar > span {
	position: absolute;
	cursor: pointer;
	color: $icon-black-color;
	background-color: #fff;
	top: 21%;
	left: 92%;
}

.profile-icon {
	position: relative;
}

.profile-icon > span {
	position: absolute;
	cursor: pointer;
	border-radius: 100%;
	padding: 0.25rem;
	top: -1rem;
	color: $icon-black-color;
	background-color: #fff;
}
