$icon-black-color: #231f20;

.header-container {
	padding: top;
}

.header.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 1.5rem;
}

.search-bar {
	position: relative;
	width: 31.25rem;
	height: 2.85rem;
	background-color: #fff;
}

.search-bar > span {
	position: absolute;
	cursor: pointer;
	color: $icon-black-color;
	background-color: #fff;
	top: 25%;
	left: 92%;
}
